.home {
    padding-top: 80px; /* 为固定的header留出空间 */
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.topics-container {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    margin: 1.5rem 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
